/* Página principal */

body {
  background-image: url("../assets/img/fundo-coracao.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  height: 50vh;
}

.frase {
  margin-top: 25vh;
}

.texto {
  font-size: 2.5rem;
}

.botao {
  font-size: 2.5rem;
}

/* Página da Negação */

.frase-triste {
  margin-top: 10vh;
}

.fundo {
  background-image: none;
  background: radial-gradient(circle, #3543db, #803adb);
}

/* Página Sucesso */

.love {
  background-image: url("../assets/img/fundo-coracao.jpeg");
  background-size: 160vh;
  background-attachment: fixed;
  background-position: center;

  height: 50vh;
}

.frase-amor {
  margin-top: 15vh;
}

.botao-voltar {
  font-size: 1.5rem;
}

@media screen and (min-width: 750px) and (min-height: 1334px) {
  .frase {
    height: 30vh;
  }

  .texto,
  .botao {
    font-size: 4rem;
  }

  .frase-triste {
    height: 20vh;

    img {
      margin-top: 3rem !important;
    }
  }
  .texto-triste {
    margin-top: 3rem !important;

    p {
      font-size: 4rem !important;
      margin-bottom: 2rem;
    }
  }

  .frase-amor {
    margin-top: 20vh;
  }

  .texto-maior {
    font-size: calc(1.375rem + 1.5vw) !important;
  }

  .texto-botao {
    font-size: 2.5rem !important;
    margin-top: 2rem !important;
  }

  .botao-voltar {
    font-size: 4rem;
  }
}
